In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
users = pd.read_csv("data/users.csv")
items = pd.read_csv("data/items.csv")
ratings = pd.read_csv("data/ratings.csv")

In [3]:
users.iloc[0]

user_id                1
age                   24
sex                    M
occupation    technician
zip_code           85711
Name: 0, dtype: object

In [4]:
items.iloc[0]

movie_id                                                             1
title                                                 Toy Story (1995)
genre_unknown                                                        0
Action                                                               0
Adventure                                                            0
Animation                                                            1
Children                                                             1
Comedy                                                               1
Crime                                                                0
Documentary                                                          0
Drama                                                                0
Fantasy                                                              0
FilmNoir                                                             0
Horror                                                               0
Musical                                                              0
Mystery                                                              0
Romance                                                              0
SciFi                                                                0
Thriller                                                             0
War                                                                  0
Western                                                              0
year                                                            1995.0
overview             Led by Woody, Andy's toys live happily in his ...
original_language                                                   en
runtime                                                           81.0
vote_average                                                     7.968
vote_count                                                     18757.0
Name: 0, dtype: object

In [5]:
ratings.iloc[0]

user_id                 196
movie_id                242
rating                    3
unix_timestamp    881250949
Name: 0, dtype: int64

# Preprocessing

In [6]:
from reco.preprocess import encode_user_item

In [7]:
encoded_ratings, user_encoder, item_encoder = encode_user_item(ratings, "user_id", "movie_id", "rating", "unix_timestamp")

Number of users:  943
Number of items:  1682

In [8]:
ratings['rating'] = ratings['rating'].values.astype(np.float32)
min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])

# Data Splitting

In [9]:
from reco.preprocess import random_split, user_split, sample_data

In [10]:
sampledf = sample_data()

## Random split

In [11]:
train_random, val_random, test_random = random_split(sampledf, [0.6, 0.2, 0.2])

d:\Work\Development\recommendation_system\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [12]:
train_random

   user_index  item_index  rating   timestamp  split_index
0           1           1       4  2000-01-01            0
1           1           1       4  2000-01-01            0
2           1           2       3  2000-01-02            0
3           1           2       3  2000-01-02            0
4           1           2       3  2000-01-02            0
5           2           1       4  2000-01-01            0
6           2           2       5  2000-01-01            0
7           2           1       4  2000-01-03            0
8           2           2       5  2000-01-03            0

In [13]:
val_random

    user_index  item_index  rating   timestamp  split_index
9            2           3       5  2000-01-03            1
10           3           3       5  2000-01-01            1
11           3           3       5  2000-01-03            1

In [14]:
test_random

    user_index  item_index  rating   timestamp  split_index
12           3           3       5  2000-01-03            2
13           3           3       5  2000-01-03            2
14           3           1       4  2000-01-04            2

## User Chronological Split

In [15]:
train_chrono, val_chrono, test_chrono = user_split(sampledf, "timestamp", "user_index", [0.6, 0.2, 0.2])

d:\Work\Development\recommendation_system\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
d:\Work\Development\recommendation_system\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
d:\Work\Development\recommendation_system\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [16]:
train_chrono

    user_index  item_index  rating   timestamp  split_index
0            1           1       4  2000-01-01            0
1            1           1       4  2000-01-01            0
2            1           2       3  2000-01-02            0
5            2           1       4  2000-01-01            0
6            2           2       5  2000-01-01            0
7            2           1       4  2000-01-03            0
10           3           3       5  2000-01-01            0
11           3           3       5  2000-01-03            0
12           3           3       5  2000-01-03            0

In [17]:
val_chrono

    user_index  item_index  rating   timestamp  split_index
3            1           2       3  2000-01-02            1
8            2           2       5  2000-01-03            1
13           3           3       5  2000-01-03            1

In [18]:
test_chrono

    user_index  item_index  rating   timestamp  split_index
4            1           2       3  2000-01-02            2
9            2           3       5  2000-01-03            2
14           3           1       4  2000-01-04            2