In [1]:
import sys
sys.path.append("../")

import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
items_raw = pd.read_csv("data/items_raw.csv")
item_features = pd.read_csv("data/item_features.csv")

In [4]:
items_raw["release_date"] = pd.to_datetime(items_raw.release_date, infer_datetime_format=True)
items_raw["year"] = items_raw.release_date.apply(lambda x: str(x.year))

In [5]:
items_main = items_raw.drop(['video_release_date', 'release_date', 'imdb_url'], axis=1).copy()

In [7]:
items_addtl = item_features[['overview', 'original_language', 'runtime', 'vote_average', 'vote_count', "movie_id"]].copy()

In [8]:
items = pd.merge(left=items_main, right=items_addtl, on="movie_id", how="left")

In [9]:
items.head()

,movie_id,title,genre_unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,SciFi,Thriller,War,Western,year,overview,original_language,runtime,vote_average,vote_count
0,1,Toy Story (1995),0,0,0,1,1,1,0,0,...,0,0,0,0,1995,"Led by Woody, Andy's toys live happily in his ...",en,81.0,7.968,18757.0
1,2,GoldenEye (1995),0,1,1,0,0,0,0,0,...,0,1,0,0,1995,When a powerful satellite system falls into th...,en,130.0,6.900,3990.0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,...,0,1,0,0,1995,It's Ted the Bellhop's first night on the job....,en,98.0,5.859,2686.0
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,...,0,0,0,0,1995,Chili Palmer is a Miami mobster who gets sent ...,en,105.0,6.495,1090.0
4,5,Copycat (1995),0,0,0,0,0,0,1,0,...,0,1,0,0,1995,An agoraphobic psychologist and a female detec...,en,124.0,6.507,995.0

In [10]:
items.overview.isna().sum()

np.int64(11)

In [11]:
items.overview.fillna("None", inplace=True)

In [12]:
import spacy
nlp = spacy.load('en_core_web_lg')

In [13]:
doc = nlp(items["overview"][0])

In [15]:
doc.vector

array([ 2.49380805e-02,  1.74549282e-01, -9.29457471e-02, -4.02068421e-02,
        2.45584920e-02,  2.10599136e-02,  4.59955782e-02, -1.43892854e-01,
        2.23628674e-02,  2.10939479e+00, -1.11910768e-01, -7.78442621e-02,
       -5.78953363e-02, -5.18039986e-02, -4.90232185e-02, -3.90546210e-02,
       -1.63908191e-02,  7.56938040e-01, -1.07308537e-01, -1.58448797e-02,
       -3.28326374e-02, -4.18951176e-02, -2.36957222e-02, -4.90324982e-02,
        3.45998853e-02, -5.01969596e-04, -7.33386278e-02,  8.14125240e-02,
        1.23276107e-03, -3.94272059e-02, -4.45753373e-02,  9.23748016e-02,
       -1.85925841e-01,  1.29784733e-01,  6.92790821e-02, -8.13476965e-02,
        3.25000323e-02,  8.13459679e-02, -4.94984947e-02, -1.00935347e-01,
        8.89295489e-02,  2.81169247e-02,  8.77274945e-03, -3.19957659e-02,
        7.94582665e-02,  9.91719663e-02, -1.07840024e-01, -5.39268330e-02,
       -3.52545083e-02,  1.26066720e-02,  3.39749381e-02, -7.42770284e-02,
       -5.82755692e-02, -1.30071901e-02,  1.19160498e-02, -1.35870194e-02,
       -1.78068727e-02, -9.48667806e-03,  2.97575556e-02, -3.18520553e-02,
        3.66915353e-02,  5.60751110e-02, -1.36265270e-02,  1.13357849e-01,
       -2.69335415e-02, -5.34967892e-02, -7.20366789e-03,  2.75940225e-02,
        3.67909595e-02,  4.67444360e-02,  3.30437496e-02,  4.04331051e-02,
        1.73971221e-01,  4.13115136e-02,  1.75533667e-02, -1.29324356e-02,
        4.12065722e-02, -1.11237943e-01,  3.08210235e-02,  5.94174527e-02,
        3.55116203e-02,  1.48013353e-01, -9.46868211e-02, -4.25080732e-02,
       -1.28046388e-03, -1.46020666e-01,  7.03696683e-02, -5.24604134e-03,
        1.15707107e-01,  7.86921680e-02, -1.31001294e-01,  2.76524853e-02,
        5.00690788e-02, -2.80503687e-02,  1.00494489e-01, -8.36951211e-02,
        4.47433665e-02, -6.00561313e-02, -1.38791323e-01,  2.03356124e-03,
        1.56791031e-03,  3.10956091e-02, -1.08301364e-01, -7.68136084e-02,
        3.44603173e-02, -6.35453343e-01,  1.42761052e-01,  4.76435870e-02,
        8.36234912e-02,  5.04480638e-02,  1.00114949e-01, -5.61890639e-02,
        4.36153933e-02, -2.62603611e-02,  7.34726572e-03, -9.50351823e-03,
        5.92024699e-02, -1.60762873e-02,  4.18284237e-02,  3.98228019e-02,
        2.74946205e-02,  4.57785800e-02,  6.75140694e-02,  1.57908350e-02,
       -8.92472174e-03,  2.52385754e-02,  1.82540175e-02, -3.90037000e-02,
       -6.00915216e-03, -2.85856482e-02, -8.16426203e-02, -1.22568138e-01,
        2.87163537e-02, -2.15264820e-02,  4.90538701e-02,  2.40933467e-02,
        3.76863517e-02,  1.91837046e-02,  3.51095274e-02,  5.43203391e-03,
       -1.34338939e+00,  2.13359892e-02,  6.11385480e-02,  4.45495881e-02,
       -4.12293002e-02,  7.42981881e-02, -9.62456036e-03,  2.87025310e-02,
        3.33890989e-02, -4.93944064e-02,  6.24390766e-02, -1.91591047e-02,
        1.49361968e-01,  2.61607161e-03, -7.31155723e-02, -1.38072640e-01,
       -9.38843042e-02, -4.10678722e-02, -7.57334158e-02,  2.30891891e-02,
       -3.43037657e-02,  4.28277329e-02,  2.52398252e-02, -5.86681701e-02,
       -1.13262966e-01, -1.07604422e-01,  4.17827405e-02,  7.39086606e-03,
        1.80579528e-01,  1.88987795e-02,  2.58597396e-02, -3.02606132e-02,
       -3.00975256e-02,  1.88559163e-02, -2.17776466e-02,  2.97021233e-02,
        1.94686875e-02,  1.70205603e-04,  5.39285317e-02, -5.30279763e-02,
        7.36322999e-02, -1.01865426e-01,  6.13055825e-02, -2.40589702e-03,
        2.04451550e-02,  4.98781726e-02, -1.61054526e-02, -1.84193756e-02,
        4.18049023e-02, -9.89547148e-02,  1.30839581e-02,  7.58162439e-02,
       -9.62423608e-02,  1.05205745e-01, -4.51771915e-02,  8.55872706e-02,
       -1.61108524e-02, -8.25733021e-02, -8.48585963e-02,  1.45106301e-01,
       -9.57992449e-02, -9.63525549e-02, -7.57834986e-02,  4.75082733e-02,
        1.38577908e-01,  4.82671149e-02,  3.91680077e-02, -2.39246823e-02,
       -1.03417281e-02, -6.32237196e-02, -1.87812865e-01, -5.77720813e-02,
        3.79180908e-02, -4.52999249e-02, -1.76426638e-02,  1.30635262e-01,
        5.33553101e-02, -2.62757624e-03, -7.92993903e-02, -1.12591069e-02,
        7.53737986e-02, -3.82996574e-02, -3.77822891e-02, -2.66383905e-02,
       -7.43916407e-02, -9.91136883e-04,  8.68573226e-03,  7.12070093e-02,
        6.85049370e-02,  7.14480951e-02,  2.83677951e-02,  4.16570976e-02,
       -5.22646382e-02,  5.77973835e-02, -1.28328159e-01, -6.75787628e-02,
       -1.00833602e-01,  1.57901514e-02, -1.86641549e-03,  2.12709773e-02,
        5.00835553e-02,  2.60344427e-02, -1.01904936e-01,  6.81978911e-02,
        2.16800515e-02, -5.06161824e-02, -8.49545226e-02, -6.56067729e-02,
       -1.01418018e-01,  6.34343773e-02,  3.40266116e-02, -1.99704301e-02,
       -4.24233414e-02, -2.81879753e-02,  4.03021313e-02,  1.39157504e-01,
        3.94213945e-02, -7.21855834e-02, -6.91358466e-03, -3.45275477e-02,
        2.26380620e-02,  7.26328865e-02, -3.28238355e-03,  4.98669334e-02,
        7.32209310e-02, -8.64540711e-02, -6.74599260e-02, -6.73039332e-02,
        9.02898610e-02,  4.94937338e-02,  2.18849797e-02,  3.57504897e-02,
       -3.36863548e-02, -1.78150862e-01, -1.11450247e-01, -7.47131109e-02,
       -1.84525270e-02,  1.38913929e-01, -5.10796253e-03,  2.00496569e-01,
        1.16952114e-01,  2.53427792e-02, -2.05444805e-02, -5.28491996e-02,
       -6.91545308e-02, -7.21018538e-02,  1.55422643e-01,  1.51666347e-03,
        5.11241779e-02, -1.41429409e-01, -1.64213538e-01,  7.32535943e-02,
        7.10657015e-02,  5.86983375e-03, -4.76205908e-02, -5.11476770e-03,
        2.59261336e-02, -3.54196578e-02, -5.96407987e-02, -4.32100380e-03],
      dtype=float32)

In [16]:
def word_vec(sentence):
    doc = nlp(sentence)
    return doc.vector

In [17]:
%%time
overview_embedding = items["overview"].apply(word_vec)

CPU times: total: 26.5 s
Wall time: 26.7 s

In [18]:
overview_embedding = overview_embedding.to_list()

In [19]:
overview_embedding_list = []
for vec in overview_embedding:
    overview_embedding_list.append(vec.tolist())

In [20]:
len(overview_embedding_list)

1746

In [21]:
overview_embedding_df = pd.DataFrame(overview_embedding_list)

In [22]:
overview_embedding_df.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.024938,0.174549,-0.092946,-0.040207,0.024558,0.021060,0.045996,-0.143893,0.022363,2.109395,...,-0.164214,0.073254,0.071066,0.005870,-0.047621,-0.005115,0.025926,-0.035420,-0.059641,-0.004321
1,-0.089016,0.133057,-0.047937,0.057266,0.059098,-0.080577,-0.081909,-0.048002,-0.089832,2.023080,...,-0.130069,0.047367,-0.007689,-0.009476,-0.108971,0.089635,0.042942,-0.067380,-0.047274,-0.021157
2,0.024798,0.201679,-0.035214,-0.044371,0.065224,0.011609,-0.008056,-0.141306,0.003372,2.377326,...,-0.125685,0.043005,0.087619,-0.073365,0.035089,-0.006726,-0.003821,-0.012937,-0.014347,0.046458
3,-0.044721,0.126973,-0.104857,-0.019217,0.138141,0.091052,0.026251,-0.202099,0.047526,2.029502,...,-0.125688,0.038220,0.011013,0.041688,0.000462,-0.014254,-0.015342,-0.110975,-0.009556,0.053125
4,0.080059,-0.017512,-0.176883,0.082077,0.056057,-0.022036,-0.042583,-0.109661,0.073444,2.139982,...,-0.184866,0.007139,0.070511,0.089315,0.028993,-0.071459,0.047445,-0.044927,-0.102735,-0.100472

In [23]:
items.columns

Index(['movie_id', 'title', 'genre_unknown', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'FilmNoir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'SciFi', 'Thriller', 'War', 'Western', 'year', 'overview',
       'original_language', 'runtime', 'vote_average', 'vote_count'],
      dtype='object')

In [24]:
item_similarity_df = pd.concat([
    items[['movie_id', 'genre_unknown', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'FilmNoir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'SciFi', 'Thriller', 'War', 'Western']], 
    overview_embedding_df],
    axis=1)

In [25]:
item_similarity_df.head()

,movie_id,genre_unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,290,291,292,293,294,295,296,297,298,299
0,1,0,0,0,1,1,1,0,0,0,...,-0.164214,0.073254,0.071066,0.005870,-0.047621,-0.005115,0.025926,-0.035420,-0.059641,-0.004321
1,2,0,1,1,0,0,0,0,0,0,...,-0.130069,0.047367,-0.007689,-0.009476,-0.108971,0.089635,0.042942,-0.067380,-0.047274,-0.021157
2,3,0,0,0,0,0,0,0,0,0,...,-0.125685,0.043005,0.087619,-0.073365,0.035089,-0.006726,-0.003821,-0.012937,-0.014347,0.046458
3,4,0,1,0,0,0,1,0,0,1,...,-0.125688,0.038220,0.011013,0.041688,0.000462,-0.014254,-0.015342,-0.110975,-0.009556,0.053125
4,5,0,0,0,0,0,0,1,0,1,...,-0.184866,0.007139,0.070511,0.089315,0.028993,-0.071459,0.047445,-0.044927,-0.102735,-0.100472

# Build nearest neighbor model

In [26]:
from reco.recommend import get_similar
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import PIL

In [27]:
%%time
item_distances, item_similar_indices = get_similar(overview_embedding_df, 5)

CPU times: total: 844 ms
Wall time: 836 ms

In [28]:
item_similar_indices

array([[   0, 1166, 1417, 1666, 1542],
       [   1,  419,  391,  862,  564],
       [   2,  976,  161,  494, 1261],
       ...,
       [1472, 1743, 1742, 1473,   35],
       [1744,  835,   47,   25, 1373],
       [1745, 1030, 1031, 1067, 1068]], shape=(1746, 5))